body{
  background-color:#fdfaf6;
  margin: 0;
}
h1{
  margin: 0;
}
.top-container {
  background-color:#edffec;
}
.middle-container{
  background-color:#caf7e3;
}
.bottom-container{
  background-color:#e4bad4;
}
.square-container{
  height: 200px;
  width: 200px;
}
